* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width: 100svw;
  min: height 100svh;
  background-color: white;
}

.bgImage{
  background-image: url(Asset/bgImg.png);
}
.footerbg{
  background-image: url(Asset/footerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:ce
}